{% extends "base.html" %} {% block content %}
<a href="{% url 'expensecategory_create' %}">Create</a>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of receipts</th>
    </tr>
  </thead>
  <tbody>
    {% for expense in expensecategory_list %}
    <tr>
      <td>{{ expense.name }}</td>
      <td>{{expense|length }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}